.orderform-container {
  display: flex;
  padding: 200px 100px;
  margin: auto;
  border: 1px solid lightgrey;
  align-items: center;
  width: 60%;
  height: 200px;
  margin-top: 10px;
  justify-content: space-evenly;
}

.sdf:hover {
  cursor: pointer;
}

@media only screen and (max-width: 1024px) {
  .orderform-container {
    width: 90%;
  }
}
