.asd {
  width: 20%;
  margin: auto;
}

.search-bar {
  outline: none;
  height: 30px;
  width: 100%;
  margin: auto;
  padding: 8px 12px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 0;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.search-results {
  border: 1px solid black;
  width: 20%;
  background-color: white;
  position: absolute;
  left: 140px;
  right: 0px;
  top: 42px;
  margin-left: auto;
  margin-right: auto;
}

@media only screen and (max-width: 1024px) {
  .asd {
    width: 35%;
  }
  .search-results {
    width: 35%;
  }
}
